#HeaderSection{
    background-color: #0a0a0a;
}
#navbarSupportedContent ul li a{
    color: white;
    font-weight: 400;
    font-size: 14px;
    margin-right: 5px;
}
#navbarSupportedContent ul li a:hover{
    color: red;

}
#navbarSupportedContent ul{
    margin-left: 180px;
}
.navbar-brand img{
    margin: 5px;
    width: 207px;
}
#MultipleImg{
    width: 100%;

}
#MultipleImg div{
    width: 25%;
    display: inline-block;
    margin-left: -4px;
}
#MultipleImg div img{
    width: 100%;
    
}
#MultipleImg div img:hover{
    transform: scale(1.05);
    transition: ease-in-out 0.4s;
}
#MultipleImg div p{
    color: white;
    font-size: 16px;
    font-weight: 900;
    position: relative;
    bottom: 62px;
    padding-left: 26px ;
}
/* TypeSection start here */
#ReTypes{
    margin-top:-64px;
}
#divTypes1{
    background-color: black;
}
#divTypes1 h1{
    color: white;
    display: inline-block;
    font-size: 21px;
    margin-left: 32px;
    margin-top: 10px;
    font-weight: 800;

}
#divTypes1 ul {

    display: inline-block;

}
#divTypes1 ul li {
    color: white;
    display: inline-block;
    padding: 0px 21px;
    border-right:2px solid white;
    cursor: pointer;

   
}
#divTypes1 ul li:hover{
    color:red;
}
#divTypes2 img{
    width: 100%;
}
/* TypeSection end here */

/* SdivRides start here */
#SdivRides{
    margin-top:-64px;
}
#divRides{
    background-color: black;
}
#divRides h1{
    color: white;
    display: inline-block;
    font-size: 21px;
    margin-left: 32px;
    margin-top: 10px;
    font-weight: 800;

}
#divRides ul {

    display: inline-block;

}
#divRides ul li {
    color: white;
    display: inline-block;
    padding: 0px 21px;
    border-right:2px solid white;
    cursor: pointer;

   
}
#divRides ul li:hover{
    color:red;
}
#divRides img{
    width: 100%;
}
/* SdivRides end here */
